
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>AD->SID converter</title>

    </head>
    <body>
        <div class="content">   
            <div class="user-sid"> 
                <div>
                    <label>User -> SID</label><br><br>
                    <textarea rows="8" cols="30" placeholder="Login, imie i nazwisko lub mail - oddzielone enterem" id="input-area-user"></textarea> <!--Tu masz textfielda można enterowac-->
                    <button id="submit-user">Submit</button>
                </div>
                <br>
                <div>
                    <fieldset> <!--masz ty ładna ramke na SIDy-->
                        <legend>&nbsp; SID &nbsp;</legend>
                        <ul id="list-sid"></ul>
                    </fieldset>    
                </div>
            </div>
            <div class="sid-user">
                <div>
                    <label>SID -> User</label><br><br>
                    <textarea rows="8" cols="30" placeholder="SIDy oddzielone enterem" id="input-area-sid"></textarea> <!--Tu masz textfielda można enterowac-->
                    <button id="submit-sid">Submit</button>
                </div>
                <br>
                <div>
                    <fieldset> <!--masz ty ładna ramke na SIDy-->
                        <legend>&nbsp; User &nbsp;</legend>
                        <ul id="list-user"></ul>
                    </fieldset>    
                </div>
            </div>
        </div>
    <%= javascript_include_tag 'application','test' %>
    </body>
</html>