
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>AD->SID converter</title>

    </head>
    <body>
        <div>
            <form>
                <label>Tutaj wpisz nazwe użytkownika z ActiveDirectory</label><br>
                <input type="text" id="nazwa" name="nazwa">
                <input type="submit">
            </form>
            <!--
                <button type="submit">Submit</button>
            -->
    </div>
    <div>
        <ol>
            <li>sample text</li>
            <li>sample text</li>
        </ol>
    </div>
    </body>
</html>