body{
    background-color: darkgrey;
}
fieldset
{
    width: auto;
    border:1px solid black;
}
.content{
    margin: 50px;
}
.user-sid{
    margin: 20px;
}
.sid-user{
    margin: 20px;
}

textarea{
    width: 50%;
    padding: 5px;
}